<ng-include src="'components/navbar.html'"></ng-include>
<div class="sidenav-container">
  <ng-include src="'components/sidenav.html'"></ng-include>
</div>
<div class="content-container">
  <ui-view></ui-view>
</div>
