<div class="start-container">
  <img class="img-devices" src="<%= asset_path 'start_devices.png' %>">
  <p class="txt-get-started" translate="dash.start.get_started"></p>
  <button class="btn btn-primary btn-md btn-add-course" translate="add_course" ng-click="openAddCourseModal()"></button>
  <hr class="content-separator">
  <p><a href="#" translate="dash.start.how_to_use"></a></p>
  <div class="row">
    <div class="col-md-offset-3 col-md-3">
      <img class="img-manual" src="<%= asset_path 'view_manual.png' %>">
      <p translate="dash.start.view_manual"></p>
    </div>
    <div class="col-md-3">
      <img class="img-manual" src="<%= asset_path 'download_manual.png' %>">
      <p translate="dash.start.download_manual"></p>
    </div>
  </div>
</div>
