<div class="modal-header" ng-class="{ fill: title }">
  <span class="title" ng-show="title">{{ title }}</span>
  <button type="button" class="close" ng-click="dismiss()"><span>&times;</span></button>
</div>
<div class="modal-body {{ step }}">
  <div ng-switch on="step">
    <div ng-switch-when="choose-path">
      <button class="btn btn-primary btn-block btn-choose-path" translate="modals.add_course.register_course_suffixed" ng-click="registerCourse()"></button>
      <button class="btn btn-primary btn-block btn-choose-path" translate="modals.add_course.join_course" ng-click="joinCourse()"></button>
    </div>
    <div ng-switch-when="register-course">
      <input type="text" class="form-control" ng-model="course.name" placeholder="{{ 'modals.add_course.course_name' | translate }}">
      <input type="text" class="form-control" ng-model="course.instructor_name" placeholder="{{ 'modals.add_course.instructor_name' | translate }}">
    </div>
    <div ng-switch-when="join-course">
    </div>
  </div>
</div>
