<div id="main">
  <section class="row action">
    <header>
      <a href="/">
        <img src="/assets/brand.png">
      </a>
    </header>
    <div class="container">
      <h1>{{ 'bttendance' | translate }},<br>{{ 'tagline' | translate }}</h1>
      <button class="btn btn-primary btn-xl btn-start" translate="get_started"></button>
    </div>
  </section>
  <section class="row intro">
    <div class="container">
      <img src="/assets/logo.png" class="logo">
      <h2 translate="main.intro_line"></h2>
      <img src="/assets/screen_half.png">
    </div>
  </section>
  <section class="row features">
    <div class="container">
      <!-- Stuff -->
    </div>
  </section>
  <section class="row devices">
    <div class="container">
      <!-- Stuff -->
    </div>
  </section>
  <section class="row counter">
    <div class="container">
      <!-- Stuff -->
    </div>
  </section>
  <section class="row platforms">
    <div class="container">
      <!-- Stuff -->
    </div>
  </section>
  <footer class="row">
    <div class="container">
      <!-- Stuff -->
    </div>
  </footer>
</div>