<div id="main">
  <section class="row action">
    <header>
      <a href="/">
        <img src="/assets/brand.png">
      </a>
    </header>
    <div class="container">
      <h1>{{ 'bttendance' | translate }},<br>{{ 'tagline' | translate }}</h1>
      <button class="btn btn-primary btn-xl btn-start" translate="get_started"></button>
    </div>
  </section>
  <section class="row intro">
    <div class="container">
      <img src="/assets/logo.png" class="logo">
      <h2 translate="main.intro_line"></h2>
      <img src="/assets/screen_half.png">
    </div>
  </section>
  <section class="row features">
    <div class="container text-center">
      <h2 translate="main.features_title"></h2>
      <div class="row">
        <div class="col-xs-3 feature attendance">
          <img src="/assets/attendance_icon.png">
          <p translate="main.attendance_title"></p>
          <p translate="main.attendance_description"></p>
        </div>
        <div class="col-xs-3 feature clicker">
          <img src="/assets/clicker_icon.png">
          <p translate="main.clicker_title"></p>
          <p translate="main.clicker_description"></p>
        </div>
        <div class="col-xs-3 feature notice">
          <img src="/assets/notice_icon.png">
          <p translate="main.notice_title"></p>
          <p translate="main.notice_description"></p>
        </div>
        <div class="col-xs-3 feature curious">
          <img src="/assets/curious_icon.png">
          <p translate="main.curious_title"></p>
          <p translate="main.curious_description"></p>
        </div>
      </div>
    </div>
  </section>
  <section class="row devices">
    <div class="container text-center">
      <h2 translate="main.devices_title"></h2>
      <img src="/assets/platforms_devices.png">
      <p translate="main.devices_line"></p>
    </div>
  </section>
  <section class="row counter">
    <div class="container text-center">
      <p translate="{{ 'main.counter_line' | translate: translationData }}"</p>
    </div>
  </section>
  <section class="row platforms">
    <div class="container text-center">
      <h2 translate="main.platforms_title"></h2>
      <button class="btn btn-primary btn-xl btn-start" translate="get_started_web"></button>
      <p translate="main.platforms_line"></p>
      <a href="https://play.google.com/store/apps/details?id=com.bttendance&hl=ko"><img src="/assets/play_store_icon.png"></a>
      <a href="https://itunes.apple.com/kr/app/bttendance-make-your-lecture/id829410376"><img src="/assets/app_store_icon.png"></a>
    </div>
  </section>
  <footer class="row">
    <div class="container text-center">
      <div class="social-icons">
        <a href="http://bttendance.tistory.com/"><img src="/assets/tistory_icon.png"></a>
        <a href="https://www.facebook.com/bttendancekorea"><img src="/assets/facebook_icon.png"></a>
        <a href="mailto:contact@bttendance.com"><img src="/assets/email_icon.png"></a>
      </div>
      <ul>
        <li>Features</li>
        <li><a href="#">Attendance</a></li>
        <li><a href="#">Clicker</a></li>
        <li><a href="#">Notice</a></li>
        <li><a href="#">Curious</a></li>
      </ul>
      <ul>
        <li>Company</li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <p translate="main.company_info"></p>
    </div>
  </footer>
</div>
