/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// Bttendance styles
@import "variables";
@import "mixins";
@import "buttons";
@import "forms";
@import "modals";
@import "main";
@import 'dash';

@import "components/navbar";
@import "components/sidenav";

@import "modals/auth";
@import "modals/add_course";

// Third-party libs
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

// Fonts
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");

html, body {
  width: 100%;
  height: 100%;

  .container-fluid {
    height: 100%;
  }
}
