#bttendance {
  .modal-backdrop {
    position: fixed;
    bottom: 0;
  }

  .modal-content {
    border: none;

    .modal-header {
      position: relative;
      height: 34px;
      padding: 6px 19px;

      &.fill {
        background-color: $deep-cerulean;
        color: $selago;

        .close {
          background-image: image-url("close_light.png");
        }
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
      }
    }
  }
}
