//////////////////////////////////////////
//
// Colors
//
// Color names courtesy of colornfo.com
//
//////////////////////////////////////////

$titan-white: #F0F0FF;
$white-lilac: #E9E9F7;
$storm-grey: #6C6C7A;
$mirage: #171725;
$picton-blue: #33ACDF;
$deep-cerulean: #0071AF;
$selago: #F1F1FE;
$chambray: #375794; // "Facebook blue"
$valencia: #DB4C3F; // "Google+ red"

$brand-primary: $picton-blue;

//////////////////////////////////////////
//
// Scaffolding
//
//////////////////////////////////////////

$link-hover-decoration: none;

//////////////////////////////////////////
//
// Typography
//
//////////////////////////////////////////

$font-family-serif: "Open Sans", "Nanum Gothic", sans-serif;
$font-family-base: $font-family-serif;

//////////////////////////////////////////
//
// Components
//
//////////////////////////////////////////

$border-radius-base: 2px;
$border-radius-small: 2px;
$border-radius-large: 2px;

//////////////////////////////////////////
//
// Buttons
//
//////////////////////////////////////////

$btn-primary-color: $titan-white;

//////////////////////////////////////////
//
// Forms
//
//////////////////////////////////////////

$input-color: $storm-grey;
$input-bg: $white-lilac;
$input-height-base: 50px;

//////////////////////////////////////////
//
// Navbar
//
//////////////////////////////////////////

$navbar-default-bg: $deep-cerulean;
$navbar-height: 60px;

//////////////////////////////////////////
//
// Modals
//
//////////////////////////////////////////

$modal-content-bg: $titan-white;
$modal-title-padding: 0;
$modal-header-border-color: transparent;
$modal-inner-padding: 7px 20px 41px 20px;
$modal-md: 500px;
