//////////////////////////////////////////
//
// Colors
//
// Color names courtesy of colornfo.com
//
//////////////////////////////////////////

$titan-white: #F0F0FF;
$white-lilac: #E9E9F7;
$storm-grey: #6C6C7A;
$mirage: #171725;
$picton-blue: #33ACDF;
$deep-cerulean: #0071AF;

$brand-primary: $picton-blue;

//////////////////////////////////////////
//
// Typography
//
//////////////////////////////////////////

$font-family-serif: "Open Sans", "Nanum Gothic", sans-serif;
$font-family-base: $font-family-serif;

//////////////////////////////////////////
//
// Components
//
//////////////////////////////////////////

$border-radius-large: 2px;

//////////////////////////////////////////
//
// Buttons
//
//////////////////////////////////////////

$btn-primary-color: $titan-white;
