<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BTTENDANCE is your smart TA">
    <meta name="author" content="Team Bttendance">

    <!-- style css for test and html building -->

    <!-- assets/stylesheets/bootstrap.min.css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- It will be moved to application.css -->    
    <style type="text/css">
    	@media screen and (max-width: 510px) {
		    .getstarted-button, .getstarted-forms {
		    	width: 280px !important;
		    }
		    .forms-li {
		    	width: 140px !important;
		    }
			}
    	/* fix bootstrap modal bug */
    	html {overflow-y: scroll;}
    	.modal-open {padding-right: 0 !important}

			@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
			body {
				font-family: 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400;
			}
			h1, h2, h3, h4  { margin:0;  padding:0;}
			h1 {font-size: 36px;}
			h2 {font-size: 24px;}
			h3 {font-size: 18px;}			
			ul {list-style-type: none; padding:0; margin:0;}

			/* Please use this class for display normal, bold, extra-bold font. Nanum Gothic google web font doesn't support <b></b> or 'font-weight: bold' */
			.font-normal {font-weight: 400;}
			.font-bold {font-weight: 700;}
			.font-extra {font-weight: 800;}

			/* landing page background */
			.lp-bg-mainimage {				
				position: absolute; 
				top: 0;	
				left: 0; 
				min-width: 100%; 
				height: 590px;
				z-index: -1;

				/*background-image: url("https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/5th_Floor_Lecture_Hall.jpg"); */
				background-color: #171725;
				background-position: top center;
				background-size: cover;
				background-attachment: fixed;
				background-repeat: no-repeat;
			}
			.lp-bg-gray {background-color: #E9E9F7; color: #171725;}
			.lg-bg-white {background-color: #F0F0FF; color: #6C6C7A;}
			.lp-bg-footy {background-color: #171725; color: #F0F0FF;}

			/* Navigation */
			.navbar-inverse {
				background-color: transparent;
				border: 0;
				height: 70px;
			}
			.nav-img-brandicon {width: 180px;}

			/* landing page blocks */
			.lp-block {text-align: center;}

			/* Start block */
			.start {		
				position: relative;
				height: 590px;
				padding-top: 208px;
			}
			.start-title{				
				color: #F0F0FF;
				margin-bottom: 54px;
			}
			.start-button {			
				background-color: #33B5E5;
				border-color: #33B5E5;
				font-size: 18px;
			}
			#startchange {
				margin-top: 110px;
			}
			/* Intro block */			
			.intro {
				padding-top: 62px;
			}
			.intro-img-logo {width: 126px;}
			.intro-title {margin-top: 52px;}
			.intro-img-moniter {
				margin-top: 63px;
				margin-left: auto;
				margin-right: auto;
			}

			/* Features block */
			.features {
				padding-top: 145px;
				padding-bottom: 100px;
			}
			.features-title {}
			.features-description {margin-top: 42px;}

			.feature-img-icon {
				margin-top: 40px;
				margin-bottom: 34px;
			}
			.feature-title {
				font-size: 18px;
				color: #0071AF;
			}
			.feature-content {font-size: 16px;}

			/* Device block */
			.device {
				padding-top: 84px;
				padding-bottom: 60px;
			}
			.device-title {}
			.device-img-mockup {
				margin-top: 56px;
				margin-left: auto;
				margin-right: auto;
			}
			.device-text-supportable {
				margin-top: 54px;
				font-size: 16px;
			}

			/* Users block */
			.users {
				padding-top: 35px;
				padding-bottom: 35px;
			}
			.users-text {}
			.users-number {				
				font-size: 24px;
				color: #0073AF;
			}

			/* Last block */
			.last {
				padding-top: 108px;
				padding-bottom: 100px;
			}
			.last-title {
				margin-bottom: 40px;
			}
			.last-text-download {
				margin-top: 38px;
				font-size: 16px;
			}
			.last-badges {margin-top: 17px;}
			.last-img-badge {margin: 5px;}

			/* Footy block */
			.footy {
				padding-top: 78px;
				padding-bottom: 50px;
			}
			.footy-badges-sns {}
			.footy-img-sns {margin: 10px;}
			.footy-links {
				margin-top: 30px;
				margin-bottom: 30px;
			}
			.footy-linkgroup {
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.footy-text-legalinfo {
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
			}

			/* Login Modal */
			.getstarted {
				/*max-width: 510px;*/
			}
			.getstarted-content {
				margin-top: 60px;
				margin-left: 15px;
				margin-right: 15px;
				text-align: center;
			}
			.getstarted-button {
				width: 410px;
				height: 50px;
				margin-bottom: 24px;
				border: 0;
				color: #F0F0FF;
				font-size: 18px;
			}
			#facebook-signin {
				background-color: #355696;
			}
			#google-signin {
				background-color: #DD4B39;
			}
			.getstarted-forms {
				width: 410px;
				margin: 0 auto;
			}
			.nav-tabs {
				border-bottom: 0px; 
			}
			.nav-tabs>li>a {
				border: 0px;
			}
			.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
				border: 0px; 
			}
			.forms-li {
				width: 205px;
			}
			.form-horizontal {
				margin-top: 20px;
			}
			.form-horizontal .form-group {
				margin-left: 0px;
				margin-right: 0px;
			}
    </style>
  </head>
  <body>
  	<!-- navigation -->
  	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img class="nav-img-brandicon" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/logo2.png"></a>
        </div>
      </div>
    </nav>

  	<!-- start -->
  	<div class="container-fluid">
  		<div class="lp-bg-mainimage"></div>
			<div class="lp-block start">
				<h1 class="start-title">비텐던스,<br>당신을 위한 스마트 TA</h1>
				<button class="btn btn-primary btn-lg start-button" type="button" data-toggle="modal" data-target="#startModal"><span class="font-bold">시작하기</span></button>
				<div id="startchange"></div>
			</div>
  	</div>  		

  	<!-- 1st block - Intro -->
  	<div class="container-fluid lp-bg-gray">
  		<div class="container lp-block intro">
  			<img class="intro-img-logo" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/Email/icon.png">
  			<h2 class="intro-title">귀찮은 일은 비텐던스에게 맡기시고, 학생들과 더 많이 소통하세요.</h2>
  			<img class="img-responsive intro-img-moniter" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_moniterscreen.png">
  		</div>
  	</div>

  	<!-- 2nd block - Features -->
  	<div class="container-fluid lg-bg-white">
  		<div class="container lp-block features">
  			<h2 class="features-title">비텐던스가 제공하는 기능들을 확인하세요.</h2>
  			<div class="row features-description">
  				<div class="col-sm-2 col-sm-offset-2">
  					<img class="feature-img-icon" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_icons_attendance.png">
  					<p class="feature-title">자동 출석체크</p>
  					<p class="feature-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  				</div>
  				<div class="col-sm-2">
  					<img class="feature-img-icon" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_icons_clicker.png">  					
  					<p class="feature-title">즉석 설문하기</p>
  					<p class="feature-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  				</div>
  				<div class="col-sm-2">  					
  					<img class="feature-img-icon" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_icons_notice.png">  					
  					<p class="feature-title">공지하기</p>
  					<p class="feature-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  				</div>
  				<div class="col-sm-2">  					
  					<img class="feature-img-icon" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_icons_curious.png">  					
  					<p class="feature-title">질문 포럼</p>
  					<p class="feature-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  				</div>
  			</div>
  		</div>
  	</div>

  	<!-- 3rd block - Device -->
  	<div class="container-fluid lp-bg-gray">
  		<div class="container lp-block device">
  			<h2 class="device-title">학생들의 스마트 기기를 학습 도구로 바꿔보세요.</h2>
  			<img class="img-responsive device-img-mockup" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_mockup.png">
  			<p class="device-text-supportable">비텐던스는 Android, iOS, Web까지 강의실에서 마주할 수 있는 거의 모든 스마트 기기를 지원합니다.</p>
  		</div>
  	</div>

  	<!-- 4th block - Users -->
  	<div class="container-fluid lp-bg-white">
  		<div class="container lp-block users">
  			<h3 class="users-text">지금까지 <span class="users-number">1234</span>개의 강의에서 <span class="users-number">567</span>명의 강의자가 비텐던스를 실제 수업에서 사용했습니다.</h3>
	  	</div>
  	</div>

  	<!-- 5th block - Last -->
  	<div class="container-fluid lp-bg-gray">
  		<div class="container lp-block last">
  			<h2 class="last-title">지금 비텐던스를 시작하세요!</h2>  			
  			<button class="btn btn-primary btn-lg start-button" type="submit"><span classs="font-bold">비텐던스 WEB 시작하기</span></button>
  			<h3 class="last-text-download">구글 플레이와 애플 앱스토어에서도 다운받으실 수 있습니다.</h3>
  			<div class="last-badges">
					<img class="last-img-badge" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_appstore_badge.png">
					<img class="last-img-badge" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_googleplay_badge.png">
  			</div>
  		</div>
  	</div>

  	<!-- Footy -->
  	<div class="container-fluid lp-bg-footy">
  		<div class="container lp-block footy">
  			<div class="footy-badges-sns">
  				<img class="footy-img-sns" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_sns_tumblr.png">
  				<img class="footy-img-sns" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_sns_facebook.png">
  				<img class="footy-img-sns" src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_main_sns_gmail.png">
  			</div>
  			<div class="row footy-links">
  				<div class="col-sm-2 col-sm-offset-4 footy-linkgroup">
  					<p class="font-bold">Features</p>
  					<ul>
  						<li>Attendance</li>
  						<li>Clicker</li>
  						<li>Notice</li>
  						<li>Curious</li>
  					</ul>
  				</div>  				
  				<div class="col-sm-2 footy-linkgroup">  					
  					<p class="font-bold">Company</p>
  					<ul>
  						<li>Contact</li>
  						<li>Terms of service</li>
  						<li>Privacy policy</li>
  					</ul>
  				</div>
  			</div>
				<div class="footy-text-legalinfo">
					<p>주식회사 비텐던스 | 대표자: 김태환 | 경기도 성남시 분당구 판교역로 100, 606-601 | 사업자번호: 144-81-10243 | 통신판매업신고: 제 2014-경기성남-0306호</p>
				</div>
  		</div>
  	</div>

  	<!-- login -->
		<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog getstarted">
		    <div class="modal-content">
		      <div class="modal-body">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <div class="getstarted-content">
		        	<button id="facebook-signin" class="getstarted-button"><img src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_signin_facebook.png"> 으로 시작하기</button>
			        <button id="google-signin" class="getstarted-button"><img src="https://s3-ap-northeast-1.amazonaws.com/bttendancedevelop/landing_signin_googleplus.png"> 로 시작하기</button>
			        <!-- <div id="getstarted-choices">
			        	<ul>
			        		<li><a href="#getstarted-signup">Email로 가입하기</a></li>
			        		<li><a href="#getstarted-signin">로그인하기</a></li>
			        	</ul>
				        <div id="getstarted-signup">hell yeah</div>
				        <div id="getstarted-signin">Yes we can</div>
			        </div> -->
			        <div class="getstarted-forms">
				        <ul class="nav nav-tabs" id="tabContent">
					        <li class="forms-li"><a href="#getstarted-signup" data-toggle="tab">Email로 가입하기</a></li>
					        <li class="forms-li"><a href="#getstarted-signin" data-toggle="tab">로그인하기</a></li>
					      </ul>
					      <div class="tab-content">
					        <div class="tab-pane" id="getstarted-signup">
					        	<form class="form-horizontal">
						        	<div class="form-group">
										    <input type="email" class="form-control" id="inputEmail3" placeholder="Name">
										  </div>
										  <div class="form-group">
											  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
										  </div>
										  <div class="form-group">
											  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
										  </div>
										  <div class="form-group">
											  <button type="submit" class="btn btn-default btn-lg">Sign up</button>
										  </div>
										</form>
					        </div>        
					        <div class="tab-pane" id="getstarted-signin">
					        	<form class="form-horizontal">
										  <div class="form-group">
										  	<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
										  </div>
										  <div class="form-group">
										  	<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
										  </div>
										  <div class="form-group">
										  	<button type="submit" class="btn btn-default btn-lg">Sign in</button>
										  </div>
										</form>
					        </div> 
					      </div>
				      </div>
		        </div>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    	$(document).ready(function(){       
		   var scroll_start = 0;
		   var startchange = $('#startchange');
		   var offset = startchange.offset();
		    if (startchange.length){
			    $(document).scroll(function() { 
			      scroll_start = $(this).scrollTop();
			      if(scroll_start > offset.top) {
			          $(".navbar-inverse").css('background-color', '#0072B0');
			      } else {
			          $('.navbar-inverse').css('background-color', 'transparent');
		        }
		   		});
		    }
			});
    </script>
  </body>
</html>
