<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="feature guide - Attendance">
    <meta name="author" content="Team Bttendance">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style type="text/css">
    	/* Common css start */
	    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	    body {
	      font-family: 'Nanum Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400;
	      /*background color*/
	      background-color: #F1F1FF;
	    }
	    h1, h2, h3, h4, p { margin:0;  padding:0;}
	    h1 {font-size: 36px;}
	    h2 {font-size: 24px;}
	    h3 {font-size: 18px;}
	    ul {list-style-type: none; padding:0; margin:0;}
		  /* Common css end */
    </style>
	</head>
	<body>
		<section class="row support-top">
			
		</section>
		<section class="row guides">
			
		</section>
		<section class="row manuals">
			
		</section>
		<section class="row ask-us">
			
		</section>
    <!-- assets/javascripts/ -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>